h1{
    padding: 5px;
    border: 20px solid blue;
    border-radius: 20px;    
    width: 100px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    
}

input{
    background-color: #7fd3f5;
    border-radius: 5px;
    border: 12px solid #7fd3f5;
    margin: 0 auto;
    /*border: 3px solid white;*/
}

button{
    border-radius: 5px;
    background-color: #7fd3f5;
    color: rgb(0, 0, 0);
    /*border: 12px solid;*/
    border: 12px solid #7fd3f5;
    margin: 0 auto;
}